<div class="container pull-center">
  <div class="d-flex" *ngFor="let postEl of posts; let i = index">
      <div *ngIf="i % 2 == 0" class="container">
        <div class="row mb-2">
          <div class="col-md-6">
            <app-post-item [post]="posts[i]">
            </app-post-item>
          </div>
          <div *ngIf="i + 1 < posts.length" class="col-md-6">
            <app-post-item [post]="posts[i+1]">
            </app-post-item>
          </div>
        </div>
      </div>
  </div>
</div>
