<ul class="list-group list-group-flush">
    <li *ngFor="let productCount of products; index as i" class="list-group-item">

        <app-product-count-item
            *ngIf="productCount.count!=0" 
            (productUpdate)="productCountChange($event)" 
            (productDelete)="productDelete(productCount.id)" 
            [imgURL]="productCount.product.ProductImage" 
            [count]="productCount.count"
            [productName]="productCount.product.title" 
            [price]="productCount.product.Price"
            [productCountId]="productCount.id"
            [index]="productCount.product.index">
        </app-product-count-item>

    </li>
</ul>
