<main role="main">
    <div class="row">
        <div class="col-md-12">
            <app-header></app-header>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form>
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <app-profile-header></app-profile-header>
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="album py-5 bg-light">
                <div class="container">
                    <app-profile-post-list></app-profile-post-list>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>

    <div class="container">
        <h1>Edit User Info</h1>
        <form [formGroup]="form" (ngSubmit)="OnEditUser()" class="form-horizontal">
            <div class="form-group">
                <label for="first_name" class="col-form-label col-lg-2">First name:</label>
                <div class="col-lg-6">
                    <input formControlName="first_name" type="text" class="form-control form-control-lg"
                        id="first_name">
                    <div *ngIf="first_name.touched && first_name.invalid" class="alert alert-danger">
                        <div *ngIf="first_name.errors.required">first name is required.</div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="last_name" class="col-form-label col-lg-2">Last name:</label>
                <div class="col-lg-6">
                    <input formControlName="last_name" type="text" class="form-control" id="text" rows="15">
                    <div *ngIf="last_name.touched && last_name.invalid" class="alert alert-danger">last name is
                        required.</div>
                </div>
            </div>

            <div class="form-group">
                <label for="username" class="col-form-label col-lg-2">Username:</label>
                <div class="col-lg-6">
                    <input formControlName="username" type="text" class="form-control" id="text" rows="15">
                    <div *ngIf="username.touched && username.invalid" class="alert alert-danger">username name is
                        required.</div>
                </div>
            </div>

            <div class="form-group">
                <label for="email" class="col-form-label col-lg-2">Email:</label>
                <div class="col-lg-6">
                    <input formControlName="email" type="text" class="form-control" id="text" rows="15">
                </div>
            </div>

            <div>
                <button type="submit" class="btn btn-dark">Edit User Info</button>
            </div>
        </form>
    </div><br><br><br>

    <div class="container">
        <h1>Edit Profile</h1>
        <form [formGroup]="profileForm" (ngSubmit)="OnEditProfile()" class="form-horizontal">
            <div class="form-group">
                <label for="phone" class="col-form-label col-lg-2">Phone:</label>
                <div class="col-lg-6">
                    <input formControlName="phone" type="text" class="form-control form-control-lg" id="phone">
                </div>
            </div>

            <div class="form-group">
                <label for="address" class="col-form-label col-lg-2">Address:</label>
                <div class="col-lg-6">
                    <input formControlName="address" type="text" class="form-control" id="text" rows="15">
                </div>
            </div>

            <div class="form-group">
                <label id="upload-label" for="upload" class="col-form-label col-lg-2">Upload Image: </label>
                <div class="col-lg-3">
                    <input
                        id="upload"
                        type="file"
                        class="form-control"
                        accept="image/*"
                        multiple=""
                        (change)="fileChanged($event)">
                </div>
            </div>

            <div>
                <button type="submit" class="btn btn-dark">Edit Profile Info</button>
            </div>
        </form>
    </div><br><br><br>

</main>