<main role="main">
    <div class="row">
        <div class="col-md-12">
            <app-header></app-header>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form>
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <app-profile-header></app-profile-header>
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="album py-5 bg-light">
                <div class="container">
                    <app-profile-post-list></app-profile-post-list> 
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</main>