#id_navbar {
    margin-left: auto;
    margin-right: auto;
    width: 50em;
    letter-spacing: normal;
    padding: 1em;
    display: block;
}

#nav-item {
    padding: 2.2em;
    font-size: 20px;
    font-style: normal;
    color: black;
}