<app-header></app-header>
<div class="container">
  <div class="row no-gutters justify-content-center">
    <div class="col-lg-7 col-xl-8 pr-lg-2 mb-3">

      <form [formGroup]="form" (ngSubmit)="createPost()" class="form-horizontal">

          <div class="row page-header">
            <h1 class="col-lg-9">Create a post</h1>
            <button type="submit" class="btn btn-dark"><font size="2">Create</font></button>
          </div>

          <div class="form-group">
            <label for="title" class="col-form-label col-lg-3" style="font-size: 150%;">Title*:</label>
            <div class="col-md-7">
              <input
                formControlName="title"
                type="text"
                class="form-control form-control-lg"
                id="title">
              <div *ngIf="title.touched && title.invalid" class="alert alert-danger">
                <div *ngIf="title.errors.required">Title is required.</div>
                <div *ngIf="title.errors.maxlength">Title length should less than 200.</div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="text" class="col-form-label col-lg-3" style="font-size: 150%;">Content*:</label>
            <div class="col-md-7">
                  <textarea
                    formControlName="text"
                    type="text"
                    class="form-control"
                    id="text"
                    rows="15"></textarea>
              <div *ngIf="text.touched && text.invalid" class="alert alert-danger">
                <div *ngIf="text.errors.required">Content is required.</div>
                <div *ngIf="text.errors.maxlength">Content length should less than 5000.</div>
              </div>
              
            </div>
          </div>

          <div class="form-group">
            <label for="upload" id="upload-label" class="col-form-label col-lg-3" style="font-size: 150%;">Upload Image*: </label>
            <div class="col-md-3">
              <input
                formControlName="upload"
                id="upload"
                type="file"
                class="form-control"
                accept="image/*"
                multiple=""
                (change)="fileChanged($event)">

              <div *ngIf="upload.touched && upload.invalid" class="alert alert-danger">At least upload an image.</div>
            </div>
          </div>

          <div class="form-group" style="height: 300px">
            <label for="tag" class="col-form-label col-lg-3" style="font-size: 150%;">Tag a product:</label>
            <div class="form-inline">
              <div class="col-lg-9">
                <input id="tag" style="font-size:15px; width:300px; height:35px;" class="form-control mr-sm-2" type="text" placeholder="Enter a product name" aria-label="Search" [formControl]="productName">
                <span style="font-size:15px; height:35px" class="btn btn-unique btn-rounded btn-sm" (click)="DoSearch()">Search</span>
              </div>
            </div>

            <div class="custom-control custom-checkbox"
                 style="padding-left: 230px; padding-top: 10px"
                 *ngFor="let productEl of this.Products | slice: (pageNum-1) * pageSize : (pageNum-1) * pageSize + pageSize;
                  let i = index;">

              <input class="custom-control-input justify-content-center" type="checkbox"
                     value="" [id]="i"
                     (click)="addToSelected($event.target, productEl.id, i)"
                     [checked]="checked_status[productEl.id]">

              <label class="custom-control-label" [for]="i" style="font-size: 150%; color: dimgray;">
                <img [src]="productEl.img_link" style="width:40px; height:40px">{{ productEl.name }}
              </label>

            </div>

            <nav aria-label="Page navigation example m-auto">
              <ul class="pagination justify-content-center">
                <li *ngIf="pageNum>1" class="page-item"><a class="page-link" (click)="PrePage()">Previous</a></li>
                <li *ngIf="pageNum<MaxPageSize-1" class="page-item"><a class="page-link" (click)="NextPage()">Next</a></li>
              </ul>
            </nav>

          </div>


      </form>

    </div>
  </div>
</div>
