<div class="background pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 container-fluid ">
          <nav class="navbar navbar-expand-lg navbar-white text-white">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link h4" href="/profile">My Profile</a>
                </li>
                <li *ngIf="checkLoginStatus()" class="nav-item">
                  <a class="nav-link h4" href="/cart">My Cart</a>
                </li>
                <li *ngIf="checkLoginStatus()" class="nav-item">
                  <a class="nav-link h4" href="new-post">New Post</a>
                </li>
                <li *ngIf="!checkLoginStatus()" class="nav-item">
                  <a class="nav-link h4" href="/login">Log In</a>
                </li>
                <li *ngIf="!checkLoginStatus()" class="nav-item">
                  <a class="nav-link h4" href="/register">Register</a>
                </li>
                <li *ngIf="checkLoginStatus()" class="nav-item">
                  <a class="nav-link h4" href="/order-history">Order History</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
        <div class="col-md-3"></div>
      </div>
    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark">
    <h1 class="text-white">O Sha'e Cosmetics</h1>

    <span class="active text-white">
      <a class="nav-link h4" href="/search">Home <span class="sr-only">(current)</span></a>
    </span>
    <span *ngIf="checkLoginStatus()" class="active text-white">
      <a class="nav-link h4" (click)="Logout()" href="/login">Log Out</a>
    </span>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent"
      aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</div>