<div class="background pos-f-t">

  <nav class="navbar" style="margin-bottom:0px;background-color: #f8f9fa;">
    <div class="col-sm-4 justify-content-center">
      <div class="justify-content-center">
        <app-search-bar></app-search-bar>
      </div>
    </div>
    <div class="col-sm-4 justify-content-center">
      <!--      <div class="center-block active" style="margin-left: 40px;">-->
      <div class="center-block">
        <a class="center-block nav-link h1 justify-content-center" style="margin-top: 10px;text-align: center" href="/search">
          O Sha'Re Cosmetics
          <!--          <span class="sr-only">(current)</span>-->
        </a>
      </div>
    </div>
    <!--    <span class="active text-white">-->
    <!--      <a class="nav-link h1" href="/search">O Sha'Re Cosmetics <span class="sr-only">(current)</span></a>-->
    <!--    </span>-->
    <div class="col-sm-4 float-right">
        <div class="row">
          <div class="col-lg-4">
            <div *ngIf="checkLoginStatus()" class="center-block dropdown">
              <a class="nav-link h4" style="text-align: center">Hi, {{firstname}}!</a>
              <div class="dropdown-content">
                <a href="/account"> <i class='far fa-user-circle'></i> My Account</a>
                <a href="/new-post"> <i class='far fa-edit'></i> New Post</a>
                <a (click)="Logout()" href="/search">Logout</a>
              </div>
            </div>
          </div>

          <div *ngIf="!(currentURL=='/cart') && checkLoginStatus()" class="col-lg-4 dropdown">
            <a class="nav-link h4"style="text-align: center" href="/cart" id="cart">
              <i class="fa fa-shopping-cart"></i> Cart <span class="badge badge-dark">{{cartProductCount}}</span>
            </a>
            <div class="dropdown-content">
              <app-cart-dropdown></app-cart-dropdown>
            </div>
          </div>

      </div>

      <div *ngIf="!checkLoginStatus()" class="dropdown">
        <a class="nav-link h4">Hi, Welcome!</a>
        <div class="dropdown-content">
          <a href="/register"> Register</a>
          <a type="button" (click)="show()">Log In</a>
        </div>
      </div>
    </div>



  </nav>
  <nav style="margin-top: 0px;margin-bottom:0px;height:60%;font-size: 15px;" id="navbarTab" class="navbar-expand-sm navbar py-0 navbar-light bg-light">
    <!--    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">-->
    <!--      <span class="navbar-toggler-icon"></span>-->
    <!--    </button>-->
    <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
      <ul class="navbar-nav col-sm-8 justify-content-center">
        <div class="col-sm-4 justify-content-center">
          <li class="center-block nav-item dropdown" style="left: 30%">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Shop </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li style="max-height: 30px;font-size: 13px" *ngFor="let type of this.typeList" class="dropdown-submenu">
                <div *ngIf="type.category!=null; then thenBlock else elseBlock"></div>
                <ng-template #thenBlock>
                  <div class="dropdown-item dropdown-toggle" style="cursor:pointer" (click)="DoSearchType(type)">{{type.name}}</div>
                  <ul class="list-unstyled col-md-4 dropdown-menu">
                    <li class="dropdown-item" style="font-size: 13px;cursor: pointer" *ngFor="let subtype of type.category" (click)="DoSearchCategory(type,subtype)">{{subtype}}</li>
                  </ul>
                </ng-template>
                <ng-template #elseBlock>
                  <div class="dropdown-item" style="cursor:pointer" (click)="DoSearchType(type)">{{type.name}}</div>
                </ng-template>
              </li>
            </ul>
          </li>
        </div>
        <div class="col-sm-4 justify-content-center">
          <li class="nav-item dropdown center-block" style="left: 35%">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Brand </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="max-height: 400px;overflow-y: auto" >
              <li style="max-height: 30px;font-size: 13px" *ngFor="let brand of this.brandlist" class="dropdown-submenu">
                <div class="dropdown-item" style="cursor: pointer" (click)="DoSearchBrand(brand)">{{capitalizeFirstLetter(brand)}}</div>
              </li>
            </ul>
          </li>
        </div>
        <div class="col-sm-4 justify-content-center">
          <li class="nav-item center-block" style="left: 60%">
            <a class="nav-link" style="text-align: center" href="global-stream">Community</a>
          </li>
        </div>
      </ul>
    </div>
  </nav>
  <!--  </div>-->
</div>

<div [style.display]="showModal ? 'block' : 'none'" id="popUpWindow" class="modal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-footer">
        <button type="button" class="button-cross" data-dismiss="modal" (click)="hide()">X</button>
      </div>
      <div class="modal-header">
        <h2 class="header">Sign in to O Sha'Re</h2>
      </div>
      <div class="modal-body">
        <form [formGroup]="loginForm" (submit)="onLogin()" class="container">
          <div class="form-group">
            <h4 for="username" class="label-text">Username</h4>
            <input type="text" formControlName="username" class="form-control"
                   [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
            <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
              <div *ngIf="f.username.errors.required">Username is required</div>
            </div>
          </div>
          <div class="form-group">
            <h4 for="password" class="label-text">Password</h4>
            <input type="password" formControlName="password" class="form-control"
                   [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required">Password is required</div>
            </div>
            <span *ngIf="message" style="color: red;">{{message}}</span>
          </div>
          <div class="form-group">
            <button [disabled]="loading" class="button-login">
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
              Login
            </button><br><br>
            <h4>Don't have an O Sha'Re account?  </h4>
            <a routerLink="/register" class="button-regis">Register</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


