<app-header></app-header>
<div class="container">

    <div class="page-header">
        <h1>Checkout</h1>
    </div>

    <div>
        <h3>Total Price: {{totalPrice | currency: 'USD': true}}</h3>
        <p>Order Summary: {{productSummary}}</p>
    </div>

    <h3>Shipping Info</h3>
    <form [formGroup]="form" (ngSubmit)="checkout()" class="form-horizontal">

        <div class="row">
            <div class="col-lg-8">

                <div class="form-group">
                    <label for="shipping_firstname" class="col-form-label col-lg-2">First Name:</label>
                    <div class="col-lg-6">
                        <input
                            formControlName="firstname"
                            type="text"
                            class="form-control form-control-lg"
                            id="shipping_firstname">
                        <div *ngIf="firstname.touched && firstname.invalid" class="alert alert-danger">
                            <div *ngIf="firstname.errors.required">First name is required.</div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="shipping_lastname" class="col-form-label col-lg-2">Last Name:</label>
                    <div class="col-lg-6">     
                        <input
                            formControlName="lastname" 
                            type="text"
                            class="form-control"
                            id="shipping_lastname">
                        <div *ngIf="lastname.touched && lastname.invalid" class="alert alert-danger">Last name is required.</div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="shipping_phone" class="col-form-label col-lg-2">Phone:</label>
                    <div class="col-lg-6">    
                        <input
                            formControlName="phone"
                            type="text"
                            class="form-control" 
                            id="shipping_phone">
                        <div *ngIf="phone.touched && phone.invalid" class="alert alert-danger">Phone is required.</div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="shipping_address" class="col-form-label col-lg-2">Street Address:</label>
                    <div class="col-lg-6">
                        <mat-google-maps-autocomplete country="us"
                                                            type="address"
                                                            appearance="outline"
                                                            (onAutocompleteSelected)="onAutocompleteSelected($event)">
                        ></mat-google-maps-autocomplete>
                    </div>
                </div>

                <button type="submit" class="btn btn-dark" (click)="placeOrderButtonClicked()">Place Order</button>

            </div>

            <div class="col-lg-4">
                
                <div *ngIf="!paidFor">
                    <h1>Pay by Paypal</h1>
                </div>

                <div *ngIf="paidFor">
                    <h1>Paid Succesfully!</h1>
                </div>

                <div [hidden]="paidFor" #paypal></div>

            </div>
        </div>

    </form>
        


</div>
