<div class="container">

        <li *ngFor="let productCount of order.productCounts" class="list-group-item">

            <div class="row">
                <div class="col-sm-1">
                    <img [src]=productCount.product.ProductImage class="rounded float-right" height="100" width="100">
                </div>
                <div class="col-sm-3 my-auto">
                    <p class="text-lg-left">{{productCount.product.title}}</p>
                </div>
                <div class="col-sm-1 my-auto">
                    <p class="text-lg-left">{{productCount.count}}</p>
                </div>
                <div class="col-sm-2 my-auto">
                    <p class="text-lg-right">{{productCount.product.Price | currency: 'USD': true }}</p>
                </div>
            </div>
        </li>

</div>


