#id_post_container {
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    width: 50em;
    height: 70em;
    position: center;
    box-sizing: border-box;
    padding: 1em;
}

#id_post_btns {
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #73AD21;
    padding: 10px;
}

#id_share_post_btn {
    background: none;
    padding: 1em;
}

#id_like_btn {
    background: none;
    padding: 1em;
}

#id_like_btn:hover {
    background-color: black;
    text-align: right;
}

#id_profile_picture {
    background: none;
    padding: 1em;
}

#id_comment_input {
    margin-left: auto;
    margin-right: auto;
    width: 50em;
    height: 10em;
    border: 1px solid gray;
}