<div class="row">
  <div class="col-md-7">
    <div class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search Product" [(ngModel)]="input">
      <button class="h3 btn btn-outline-success my-2 my-sm-0" (click)="DoSearch()">Search</button>
    </div>
  </div>
  <div class="col-md-5">
    <ul class="list-group list-group-horizontal float-right">
      <li class="list-group-item no-border">
        <div class="dropdown h4">
          <select class="no-border " id="dropdownMenuButtonA" data-toggle="dropdown" aria-haspopup="true" [(ngModel)]="brand">
            <option value="">Brand</option>
            <option *ngFor="let brand of this.brandlist" value={{brand}}>{{brand}}</option>
          </select>
        </div>
      </li>
      <li class="list-group-item no-border">
        <div class="dropdown h4">
          <select class="no-border " id="dropdownMenuButtonB" data-toggle="dropdown" aria-haspopup="true" [(ngModel)]="price">
            <option value="">Price</option>
            <option value="high">high</option>
            <option value="medium">medium</option>
            <option value="low">low</option>
          </select>
        </div>
      </li>
      <li class="list-group-item no-border">
        <div class="dropdown h4">
          <select class="no-border " id="dropdownMenuButtonC" data-toggle="dropdown" aria-haspopup="true" [(ngModel)]="ProductType">
            <option value="">Type</option>
            <option value="blush">Blush</option>
            <option value="eyeliner">Eyeliner</option>
            <option value="eyeshadow">Eyeshadow</option>
            <option value="foundation">Foundation</option>
          </select>
        </div>
      </li>
    </ul>
  </div>
</div>
