<div class="row">
<div class="col-md-6">
    <div class="form-inline mr-auto" style="width: 100%;">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" [(ngModel)]="input">
        <button class="btn btn-unique btn-rounded btn-sm my-0" (click)="DoSearch()" routerLink="/search-result">Search</button>
    </div>
</div>
<div class="col-md-6">
    <ul class="list-group  list-group-horizontal float-right">
        <li class="list-group-item">
            <div class="dropdown">
                <select id="dropdownMenuButtonA" data-toggle="dropdown" aria-haspopup="true" [(ngModel)]="brand">
                  <option value="">Brand</option>
                  <option value="maybelline">maybelline</option>
                  <option value="colourpop">colourpop</option>
                  <option value="clinique">clinique</option>
                </select>
<!--                <div class="dropdown-menu" aria-labelledby="dropdownMenuButtonA">-->
<!--                <a class="dropdown-item" href="#">Lancome</a>-->
<!--                <a class="dropdown-item" href="#">Biotherm</a>-->
<!--                <a class="dropdown-item" href="#">Kiehl‘s</a>-->
<!--                </div>-->
            </div>
        </li>
    </ul>
</div>
</div>


