<div class="row">
<div class="col-md-6">
    <div class="form-inline mr-auto" style="width: 100%;">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" [(ngModel)]="input">
        <button class="btn btn-unique btn-rounded btn-sm my-0" (click)="DoSearch()" routerLink="/search-result">Search</button>
    </div>
</div>

<!--<div class="d-flex justify-content-center my-4">-->
<!--  <span class="font-weight-bold indigo-text mr-2 mt-1">0</span>-->
<!--  <form class="range-field w-25">-->
<!--    <input class="border-0" type="range" min="0" max="100" />-->
<!--  </form>-->
<!--  <form class="range-field w-25">-->
<!--    <input class="border-0" type="range" min="0" max="100" />-->
<!--  </form>-->
<!--  <span class="font-weight-bold indigo-text ml-2 mt-1">100</span>-->
<!--</div>-->

<div class="col-md-6">
    <ul class="list-group list-group-horizontal float-right">
        <li class="list-group-item">
            <div class="dropdown">
                <select id="dropdownMenuButtonA" data-toggle="dropdown" aria-haspopup="true" [(ngModel)]="brand">
                  <option value="">Brand</option>
                  <option value="maybelline">maybelline</option>
                  <option value="colourpop">colourpop</option>
                  <option value="clinique">clinique</option>
                </select>
<!--                <div class="dropdown-menu" aria-labelledby="dropdownMenuButtonA">-->
<!--                <a class="dropdown-item" href="#">Lancome</a>-->
<!--                <a class="dropdown-item" href="#">Biotherm</a>-->
<!--                <a class="dropdown-item" href="#">Kiehl‘s</a>-->
<!--                </div>-->
            </div>
        </li>
             <li class="list-group-item">
            <div class="dropdown">
                <select id="dropdownMenuButtonB" data-toggle="dropdown" aria-haspopup="true" [(ngModel)]="price">
                  <option value="">Price</option>
                  <option value="high">high</option>
                  <option value="medium">medium</option>
                  <option value="low">low</option>
                </select>
<!--                <div class="dropdown-menu" aria-labelledby="dropdownMenuButtonA">-->
<!--                <a class="dropdown-item" href="#">Lancome</a>-->
<!--                <a class="dropdown-item" href="#">Biotherm</a>-->
<!--                <a class="dropdown-item" href="#">Kiehl‘s</a>-->
<!--                </div>-->
            </div>
        </li>
             <li class="list-group-item">
            <div class="dropdown">
                <select id="dropdownMenuButtonC" data-toggle="dropdown" aria-haspopup="true" [(ngModel)]="ProductType">
                  <option value="">Type</option>
                  <option value="blush">Blush</option>
                  <option value="eyeliner">Eyeliner</option>
                  <option value="eyeshadow">Eyeshadow</option>
                  <option value="foundation">Foundation</option>
                </select>
<!--                <div class="dropdown-menu" aria-labelledby="dropdownMenuButtonA">-->
<!--                <a class="dropdown-item" href="#">Lancome</a>-->
<!--                <a class="dropdown-item" href="#">Biotherm</a>-->
<!--                <a class="dropdown-item" href="#">Kiehl‘s</a>-->
<!--                </div>-->
            </div>
        </li>
    </ul>
</div>
</div>


