<div class="container m-5">
  <div class="jumbotron row justify-content-center">
    <img class="product-left-img col-lg-4" src="assets/img/u231.png" alt="Card image">
    <div class="col-lg-4">
      <div class="row mt-3">
        <span>Rating: </span><span style="color:#000000;">{{this.product.Rate}}</span>
        <span class="align-self-end mx-5">Price: {{this.product.Price}} USD</span>
      </div>
      <div class="row mt-3">
        <h4 class="card-title">Description</h4>
        <p class="card-text">
          {{this.product.Description}}
        </p>
      </div>
      <div class="row mt-3">
        <button class="btn btn-info mx-3">Add to Chart</button>
        <button class="btn btn-info mx-3">Check out</button>
      </div>
    </div>
  </div>
</div>
