.product-left-img{
  width: 350px;
  height: 350px;
  /*margin: 30px;*/
}
.product-info{
  margin-top:13px;
  margin-bottom: 0px;
  margin-left:0px;
  height:10px;
  align: left;
  margin-left: 0px;
  font-family: Helvetica;
}
