<div class="row">
    <div class="col-md-12">
        <form>
            <div class="row">
                <div class="col-md-5"></div>
                <div class="col-md-3 form-group">
                    <label for="name">First Name</label>
                    <input 
                        type="text" 
                        id="name" 
                        class="form-control"
                        #firstNameInput>
                </div>
                <div class="col-md-4"></div>
            </div>
            <div class="row">
                <div class="col-md-5"></div>
                <div class="col-md-3 form-group">
                    <label for="name">Last Name</label>
                    <input 
                        type="text" 
                        id="name" 
                        class="form-control"
                        #firstNameInput>
                </div>
                <div class="col-md-4"></div>
            </div>
            <div class="row">
                <div class="col-md-5"></div>
                <div class="col-md-3 form-group">
                    <label for="amount">Password</label>
                    <input 
                        type="text" 
                        id="amount" 
                        class="form-control"
                        #passwordInput>
                </div>
                <div class="col-md-4"></div>
            </div>
            <div class="row">
                <div class="col-md-5"></div>
                <div class="col-md-3">
                    <button class="btn btn-success" type="submit">Sign in</button>
                </div>
                <div class="col-md-4"></div>
            </div>
        </form>
    </div>
</div>