.container {
    position: relative;
    margin-top: 20%;
}

.form-control {
    background-color: #FFFAFA;
    font-family: 'Roboto', sans-serif;
    color: #333;
    font-size: 20px;
    padding: 1.5rem 2rem;
    border-radius: 0.2rem;
    border: none;
    display: block;
    border-bottom: 0.3rem solid transparent;
    transition: all 0.3s;
    width: 70%;
}

.button-login {
    position: relative;
    display: block;
    width: 200px;
    height: 36px;
    border-radius: 18px;
    background-color: #949390;
    border: solid 1px transparent;
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
    transition: all .1s ease-in-out;
}

.label-text {
    font-size: 20px;
}

.button-regis {
    font-size: 15px;
}