<div class="row">
    <div class="col-md-6">
        <form class="form-inline mr-auto" style="width: 100%;">
            <img src={{userprofile.profileImg}} class="rounded float-left" alt="profile-image" style="width: 30px; height: 30px;">
            <h1>{{userprofile.firstName}} {{userprofile.lastName}}</h1>
        </form>
        <span>{{userprofile.username}}</span>
    </div>
    <div class="col-md-6">
        <button class="btn btn-light float-right" type="button" >Message</button>
        <button class="btn btn-light float-right" type="button" >Follow</button>
    </div>
</div>