<div class="container">

    <div class="page-header">
        <h1>My Posts</h1>
    </div>

    <div *ngIf="posts.length==0">
        <h3>You have no post yet.</h3>
        <a href="/new-post" class="btn btn-outline-secondary">Create new post!</a>
    </div>

    <div *ngIf="posts.length!=0">
      <div class="row pull-center">
        <div *ngFor="let post of posts | slice: (pageNum-1) * pageSize : (pageNum-1) * pageSize + pageSize;" class="gutters col" style="max-width: 40rem;">
            <div class="col-center-block"><app-post-item [post]="post"></app-post-item></div>
        </div>

      </div>
      <nav aria-label="Page navigation example m-auto">
        <ul class="pagination justify-content-center">
          <li *ngIf="pageNum>1" class="page-item"><a class="page-link" (click)="PrePage()">Previous</a></li>
          <li *ngFor="let i of pagelist" [ngClass]="{active:(i+1)==pageNum}" class="page-item">
            <a *ngIf="showPage(i)" class="page-link" (click)="ToPage(i+1)">{{i+1}}</a>
          </li>
          <li *ngIf="pageNum<MaxPageSize-1" class="page-item"><a class="page-link" (click)="NextPage()">Next</a></li>
        </ul>
      </nav>
    </div>

</div>
