<div class="container custom-container-width justify-content-center" >
    <ul class="list-group">
<!--      <h1 align="center" class="justify-content-center serif" >Rate &amp; Review</h1>-->
      <li align="center" class="list-group-item serif h1" style="margin-bottom: 0px"><span>Rate &amp; Review</span></li>
      <li class="list-group-item">
        <div  *ngFor="let review of this.Reviews" class="d-flex">
          <img src="assets/img/u238.png" width="35px" height="35px" style="margin-right: 5px">
          <div>
            <p><span style="font-size:17px;">{{review.user.firstName}} {{review.user.lastName}}</span></p>
            <p><span style="font-size:15px;">{{review.review.review}}</span></p>
          </div>
<!--          <div class="w-500"></div>-->
        </div>
      </li>
    </ul>
</div>
