<div class="container custom-container-width justify-content-center" >
    <ul class="list-group">
      <li class="list-group-item"><span>Reviews:</span></li>
      <li class="list-group-item">
        <div  *ngFor="let review of this.Reviews" class="d-flex">
          <img src="assets/img/u238.png" width="35px" height="35px">
          <div>
            <p><span>{{review.Username}}&nbsp;&nbsp; Rating: </span><span style="color:#000000;">{{review.Rate}}</span></p>
            <p><span>{{review.Comment}}</span></p>
          </div>
<!--          <div class="w-500"></div>-->
        </div>
      </li>
    </ul>
</div>
