<div class="container custom-container-width justify-content-center" >
  <ul class="list-group">
    <!--      <h1 align="center" class="justify-content-center serif" >Rate &amp; Review</h1>-->
    <li align="center" class="list-group-item serif h1" style="margin-bottom: 0px"><span>Rate &amp; Review</span></li>
    <div *ngIf="this.Reviews && checkReview(this.Reviews)>0; then thenBlock else elseBlock"></div>
    <ng-template #thenBlock>
      <li class="list-group-item">
        <div  *ngFor="let review of this.Reviews" class="d-flex" style="margin-bottom: 20px">
          <div class="col-sm-2">
            <img class="row" src="{{checkImg(review.user.profileImg)}}" width="35px" height="35px" style="margin-right: 5px">
            <div class="row" style="font-size:16px;">{{review.user.firstName}} {{review.user.lastName}}</div>
          </div>
          <div class="col-sm-10">
            <div class="row mt-3" style="font-size:15px;">
              <div *ngIf="review.review.rating >=0.5; then thenBlock else elseBlock"></div>
              <ng-template #thenBlock><span class="fa fa-star checked" style="font-size: large;"></span></ng-template>
              <ng-template #elseBlock><span class="fa fa-star" style="font-size: large;"></span></ng-template>
              <div *ngIf="review.review.rating >=1.5; then thenBlock2 else elseBlock2"></div>
              <ng-template #thenBlock2><span class="fa fa-star checked" style="font-size: large"></span></ng-template>
              <ng-template #elseBlock2><span class="fa fa-star" style="font-size: large"></span></ng-template>
              <div *ngIf="review.review.rating >=2.5; then thenBlock3 else elseBlock3"></div>
              <ng-template #thenBlock3><span class="fa fa-star checked" style="font-size: large"></span></ng-template>
              <ng-template #elseBlock3><span class="fa fa-star" style="font-size: large"></span></ng-template>
              <div *ngIf="review.review.rating >=3.5; then thenBlock4 else elseBlock4"></div>
              <ng-template #thenBlock4><span class="fa fa-star checked" style="font-size: large"></span></ng-template>
              <ng-template #elseBlock4><span class="fa fa-star" style="font-size: large"></span></ng-template>
              <div *ngIf="review.review.rating >=4.5; then thenBlock5 else elseBlock5"></div>
              <ng-template #thenBlock5><span class="fa fa-star checked" style="font-size: large"></span></ng-template>
              <ng-template #elseBlock5><span class="fa fa-star" style="font-size: large"></span></ng-template>
            </div>
            <div class="row h3" style="font-size:15px;margin-top: 10px">{{review.review.headline}}</div>
            <div class="row" style="font-size:15px;">{{review.review.review}}</div>
          </div>
        </div>
      </li>
    </ng-template>
    <ng-template #elseBlock>
      <div class="container justify-content-center">
        <div class="row justify-content-center" style="margin-top: 30px;min-height: 30px;font-size: 17px">0 reviews found.</div>
        <div class="row justify-content-center" style="margin-bottom:20px;min-height: 30px;font-size: 15px; height: 30px;">Be the first to review this product!</div>
      </div>
    </ng-template>
  </ul>
</div>
