<div>
    <div id="id_post_container">
        <div id="id_post_header">
            <div id="id_post_name">
                <a href="/profile">
                    <img id="id_profile_picture" src="{{postDetail.user.profileImg}}">
                </a>
                <span>{{postDetail.user.firstName}} </span>
                <span>{{postDetail.user.lastName}} </span>
            </div><br>
            <span id="id_post_time"> {{postDetail.postDate}} </span><br>
            <h1 id="id_post_title">{{postDetail.postTitle}}</h1>
        </div>
        <img id="id_post_img" src="{{postDetail.imagePath}}" />
        <div id="id_post_text">
            <p>{{postDetail.postText}}</p>
        </div>
        <button id="id_like_btn">❤️</button>
    </div><br>

    <ul id="id_related_comments">
        <li *ngFor="let cmt of postComments">
            {{cmt.commentText}}
        </li>
    </ul>

    <div id="id_comment_input">
        <form [formGroup]="commentForm" (submit)="onSubmit()">
            <div>
                <label for="comment">Comment: </label>
                <input type="text" formControlName="comment">
                <button>Submit</button>
            </div>
        </form>
    </div>
</div>