<div class="mb-lg-5 mx-lg-5">

    <div id="id_post_container">
        <div class="row">
            <div id="id_post_header">
                <div id="id_post_name">
                    <a href="/profile">
                        <img id="id_profile_picture" src="{{post.user.profileImg}}">
                    </a>
                    <span>{{post.user.firstName}} </span>
                    <span>{{post.user.lastName}} | {{likesNum}} likes</span>&nbsp;&nbsp;&nbsp;&nbsp;
                    <span style="font-size: 12px;"> {{post.postDate}} </span><br>
                </div><br>
                <div>
                    <span id="id_post_title"
                        style="font-size: 40px; color: cadetblue; padding: 20px;">{{post.postTitle}}</span>
                    <input type="button" id="id_like_btn" (click)="onLike()" value="❤️">
                </div>
            </div>
        </div>
        <div class="row">
            <img id="id_post_img" src="{{post.imagePath}}" />
            <div id="id_post_text">
                <p>{{post.postText}}</p>
            </div><br>
            <div id="id_related_product">
                <h2>Related Products</h2>
                <ul *ngFor="let p of relatedProducts" style="margin: 2px;">
                    <a href="/product">
                        <img id="id_product_img" src="{{p.ProductImage}}">
                    </a>
                    <span style="font-size: 18px">
                        {{p.title}}
                    </span>
                </ul>
            </div>
        </div>
    </div>

    <div id="id_related_comments">
            <h2>Comment</h2>
            <ul *ngFor="let cmt of post.comments" style="margin: 2px;">
                <a href="/profile">
                    <img id="id_comment_img" src="{{cmt.user.profileImg}}">
                </a>
                <h3>{{cmt.commentText}}</h3>
                <h3>{{cmt.user.firstName}} {{cmt.user.lastName}} {{cmt.commentTime}}</h3>
            </ul>
    <div>

    <div id="id_comment_container">
        <form [formGroup]="commentForm" (submit)="onCommentSubmit()">
            <div id="id_comment_input">
                <label for="newComment">Leave Comment:</label>
                <input id="id_input_textbox" type="text" formControlName="newComment">
                <button class="btn btn-light" type="submit" id="id_submit_btn">Submit</button>
            </div>
        </form>
    </div>

</div>