<div class="background">
    <div class="container">
        <div class="row">
            <div id="id_post_header">
                <div class="page-header display-1">
                    <h1 id="id_post_title">{{post.postTitle}}</h1>
                </div>
                <div id="id_post_name">
                    <img class="rounded float-left" alt="profile-image" style="width: 30px; height: 30px;"
                        src="{{profile_picture}}">
                    <h2> {{post.user.firstName}} {{post.user.lastName}}</h2>
                    <span style="font-size: 12px;"> {{post.postDate | date}} </span><br>
                </div><br>
            </div>
        </div>
        <div class="column">
            <img id="id_post_img" src="{{post.imagePath}}">
            <div id="id_post_text">
                <p class="lead">{{post.postText}}</p><br>
            </div><br>
            <div id="id_related_product">
                <div class="page-header">Related Products</div>
                <ul *ngFor="let p of post_products" style="margin: 2px;">
                    <img id="id_product_img" style="cursor: pointer;" src="{{p.img_link}}" (click)="toDetail(p.id)">
                    <span style="font-size: 18px">
                        {{p.name}}
                    </span>
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="page-header">Comment</div>
        <div class="row">
            <ul *ngFor="let cmt of post.comments" style="margin: 2px;">
                <div>
                    <span class="col">{{cmt.commentText}} </span>
                    <span class="lead">{{cmt.user.firstName}} {{cmt.user.lastName}} {{cmt.commentTime}}</span>
                </div>
            </ul>
        </div><br><br>
        <div class="row">
            <form [formGroup]="commentForm" (submit)="onCommentSubmit()">
                <div id="id_comment_input">
                    <label for="newComment">Leave Comment:</label>
                    <input id="id_input_textbox" type="text" formControlName="newComment"><br>
                    <button class="btn btn-light" type="submit" id="id_submit_btn">Submit</button>
                </div>
            </form>
        </div><br><br>
    </div>
</div>