<div class="container mt-2 justify-content-center">
  <div class="row row-cols-3 justify-content-center">
    <div *ngFor="let product of this.Products" class="card col">
      <img src="{{product.image_link}}" class="center-block" width="200px" height="200px" alt="">
      <div class="border-1 p-2" >
        <div class="row border-2 d-flex justify-content-between" width="250px">
          {{product.name}}
          <img src="assets/img/heart.svg">
        </div>
        <div class="row border-2 d-flex justify-content-between" width="250px">
          <img src="assets/img/chat.svg">
          {{product.brand}}
        </div>
      </div>
    </div>
  </div>
</div>
