<div class="container mt-2 justify-content-center">
  <div class="row row-cols-3 justify-content-center">
    <div *ngFor="let product of this.Products" class="gutters card col" style="max-width: 30rem;min-width: 30rem;">
        <img style="cursor: pointer" src="{{product.img_link}}" class="center-block mt-5" width="200px" height="200px" alt="" (click)="toDetail(product.id)">
        <div style="font-size:12px" class="card-body border-1 p-2" >
        <div class="row border-2 d-flex justify-content-between" width="250px">
          <div class="card-title" style="max-width: 20rem;">
          {{product.name}}
          </div>
<!--          <div class="pull-right">-->
<!--            <img src="assets/img/heart.svg">-->
<!--          </div>-->
        </div>
        <div class="row d-flex" width="250px">
          <div class="pull-left" style="margin-left: 35px;margin-right:20px;">
          <img src="assets/img/chat.svg">
          </div>
          <div class="card-text">This is a template comment.</div>
        </div>
      </div>
    </div>
  </div>
</div>

