<app-header></app-header>
<div class="container">

    <div class="row d-flex justify-content-center">

        <div class="col-lg-6">

            <div class="page-header">
                <h1>Register</h1>
            </div>

            <form [formGroup]="form" (ngSubmit)="registerUser()" class="form-horizontal">

                <div class="form-group">
                    <label for="username" class="col-form-label col-lg-2">Username:</label>
                    <div class="col-lg-10">
                        <input
                            formControlName="username"
                            type="text"
                            class="form-control form-control-lg"
                            id="username">
                        <div *ngIf="username.touched && username.invalid" class="alert alert-danger">
                            <div *ngIf="username.errors.required">Username is required.</div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="password" class="col-form-label col-lg-2">Password:</label>
                    <div class="col-lg-10">     
                        <input
                            formControlName="password" 
                            type="password"
                            class="form-control"
                            id="password">
                        <div *ngIf="password.touched && password.invalid" class="alert alert-danger">Password is required.</div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="first_name" class="col-form-label col-lg-2">Firstname:</label>
                    <div class="col-lg-10">    
                        <input
                            formControlName="first_name"
                            type="text"
                            class="form-control" 
                            id="first_name">
                        <div *ngIf="first_name.touched && first_name.invalid" class="alert alert-danger">Firstname is required.</div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="last_name" class="col-form-label col-lg-2">Lastname:</label>
                    <div class="col-lg-10">
                        <input 
                            formControlName="last_name"
                            type="text" 
                            class="form-control" 
                            id="last_name">
                        <div *ngIf="last_name.touched && last_name.invalid" class="alert alert-danger">Lastname is required.</div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="email" class="col-form-label col-lg-2">Email:</label>
                    <div class="col-lg-10">
                        <input
                            formControlName="email"
                            type="text" 
                            class="form-control" 
                            id="email">
                        <div *ngIf="email.touched && email.invalid" class="alert alert-danger">Email is required.</div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="phone" class="col-form-label col-lg-2">Phone:</label>
                    <div class="col-lg-10">
                        <input
                            formControlName="phone"
                            type="text" 
                            class="form-control" 
                            id="phone">
                        <div *ngIf="phone.touched && phone.invalid" class="alert alert-danger">Phone is required.</div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="address" class="col-form-label col-lg-2">Address:</label>
                    <div class="col-lg-10">
                        <mat-google-maps-autocomplete country="us"
                                                            type="address"
                                                            appearance="outline"
                                                            (onAutocompleteSelected)="onAutocompleteSelected($event)">
                        ></mat-google-maps-autocomplete>
                    </div>
                </div>

                <button type="submit" class="btn btn-dark">Register</button>

            </form>
                
        </div>

    </div>

    



</div>