<app-header></app-header>
<div class="container">

    <div class="row d-flex justify-content-center">

        <div class="col-lg-6">

            <div class="page-header">
                <h1>Register</h1>
            </div>

            <form [formGroup]="form" (ngSubmit)="registerUser()" class="form-horizontal">

                <div class="form-group">
                    <label for="username" class="col-form-label col-lg-2"><h5>Username:</h5></label>
                    <div class="col-lg-10">
                        <input
                            formControlName="username"
                            type="text"
                            class="form-control form-control-lg"
                            id="username"
                            required UniqueUsername>
                        <div *ngIf="(username.touched || username.dirty) && username.invalid" class="alert alert-danger">
                            <div *ngIf="username.errors.required">Username is required.</div>
                            <div *ngIf="username.errors['UniqueUsername']">Username already exist.</div>
                            <div *ngIf="username.errors.maxlength">Username length should be less than 150.</div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="password" class="col-form-label col-lg-2"><h5>Password:</h5></label>
                    <div class="col-lg-10">
                        <input
                            formControlName="password" 
                            type="password"
                            class="form-control form-control-lg"
                            id="password">
                        <div *ngIf="password.touched && password.invalid" class="alert alert-danger">Password is required.</div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="first_name" class="col-form-label col-lg-2"><h5>First Name:</h5></label>
                    <div class="col-lg-10">
                        <input
                            formControlName="first_name"
                            type="text"
                            class="form-control form-control-lg" 
                            id="first_name">
                        <div *ngIf="first_name.touched && first_name.invalid" class="alert alert-danger">
                            <div *ngIf="first_name.errors.required">First name is required.</div>
                            <div *ngIf="first_name.errors.maxlength">First name length should be less than 30.</div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="last_name" class="col-form-label col-lg-2"><h5>Last Name:</h5></label>
                    <div class="col-lg-10">
                        <input 
                            formControlName="last_name"
                            type="text" 
                            class="form-control form-control-lg" 
                            id="last_name">
                        <div *ngIf="last_name.touched && last_name.invalid" class="alert alert-danger">
                            <div *ngIf="last_name.errors.required">Last name is required.</div>
                            <div *ngIf="last_name.errors.maxlength">Last name length should be less than 150.</div>
                        </div>

                    </div>
                </div>

                <div class="form-group">
                    <label for="email" class="col-form-label col-lg-2"><h5>Email:</h5></label>
                    <div class="col-lg-10">
                        <input
                            formControlName="email"
                            type="email" 
                            class="form-control form-control-lg" 
                            id="email"
                            required>
                        <div *ngIf="email.touched && email.invalid" class="alert alert-danger">
                            <div *ngIf="email.errors.required">Email is required.</div>
                            <div *ngIf="email.errors?.email">Email is invalid.</div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="phone" class="col-form-label col-lg-2"><h5>Phone:</h5></label>
                    <div class="col-lg-10">
                        <input
                            formControlName="phone"
                            type="text"
                            class="form-control form-control-lg"
                            id="phone"
                            placeholder="Please enter 10 digit phone number">
                        <div *ngIf="phone.touched && phone.invalid" class="alert alert-danger">
                            <div *ngIf="phone.errors.required">Phone is required.</div>
                            <div *ngIf="phone.invalid">Phone is invalid.</div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="address" class="col-form-label col-lg-2"><h5>Address:</h5></label>
                    <div class="col-lg-10">
                    <div style="font-size: 12px">
                        <mat-google-maps-autocomplete country="us"
                                                            type="address"
                                                            appearance="outline"
                                                            (onChange)="formChange($event)"
                                                            addressLabelText=""
                                                            (onAutocompleteSelected)="formChange($event)">
                        ></mat-google-maps-autocomplete>
                    </div>
                    </div>
                </div>

                <button type="submit" class="btn btn-dark"><h5>Register</h5></button>

            </form>

        </div>

    </div>





</div>
