.ax_default {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:center;
  line-height:normal;
  text-transform:none;
}
.box_1 {
}
.ellipse {
}
.shape {
}
.image {
}
.button {
}
.link_button {
  color:#169BD5;
}
.heading_1 {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.heading_2 {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.heading_3 {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
.heading_4 {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.heading_5 {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
.heading_6 {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
.paragraph {
  text-align:left;
}
.line {
}
.text_field {
  color:#000000;
  text-align:left;
}
.text_area {
  color:#000000;
  text-align:left;
}
.connector {
}
.marker {
  color:#FFFFFF;
}
.form_hint {
  color:#999999;
}
.form_disabled {
}
.icon {
}
.box_2 {
}
.box_3 {
}
.menu_item {
}
.image1 {
}
.box_11 {
}
.placeholder {
}
.flow_shape {
}
.line1 {
}
.primary_button {
  color:#FFFFFF;
}
.label {
  font-size:14px;
  text-align:left;
}
textarea, select, input, button { outline: none; }

.pink{
  background-color:#ffe5e5;
}

.no-border{
  border-width: 0;
  border-style: none;
  outline: none;
}

.gutters {
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 15px;
  margin-top: 15px;
}

.serif {
  font-family: "Times New Roman", Times, serif;
  margin-top: 20px;
  margin-bottom: 50px;
}

.checked {
  color: orange;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.custom-slider .ng5-slider .ng5-slider-bar {
  background: #ffe4d1;
  height: 2px;
}
.custom-slider .ng5-slider .ng5-slider-selection {
  background: black;
}

.custom-slider .ng5-slider .ng5-slider-pointer {
  width: 8px;
  height: 16px;
  top: auto; /* to remove the default positioning */
  bottom: 0;
  background-color: #333;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.custom-slider .ng5-slider .ng5-slider-pointer:after {
  display: none;
}

.custom-slider .ng5-slider .ng5-slider-bubble {
  bottom: 14px;
}

.custom-slider .ng5-slider .ng5-slider-limit {
  font-weight: bold;
  color: orange;
}

.custom-slider .ng5-slider .ng5-slider-tick {
  width: 1px;
  height: 0px;
  margin-left: 4px;
  border-radius: 0;
  background: #ffe4d1;
  top: -1px;
}

/*.custom-slider .ng5-slider .ng5-slider-tick.ng5-slider-selected {*/
/*  background: orange;*/
/*}*/
