<form [formGroup]="reviewForm" (submit)="addreview()" class="container">
  <h1 class="header">{{product_title}}</h1><br><br>
  <div class="form-group">
    <label for="headline" class="label-text">headline</label>
    <input type="text" formControlName="headline" class="form-control"
           [ngClass]="{ 'is-invalid': submitted && f.headline.errors }" />
    <div *ngIf="submitted && f.headline.errors" class="invalid-feedback">
      <div *ngIf="f.headline.errors.required">headline is required</div>
    </div>
  </div>
  <div class="form-group">
    <label for="review" class="label-text">review</label>
    <input type="text" formControlName="review" class="form-control"
           [ngClass]="{ 'is-invalid': submitted && f.review.errors }" />
    <div *ngIf="submitted && f.review.errors" class="invalid-feedback">
      <div *ngIf="f.review.errors.required">review is required</div>
    </div>
  </div>
  <div class="form-group">
    <label for="rating" class="label-text">rating</label>
    <input type="number" formControlName="rating" class="form-control" min="0" max="5"
           [ngClass]="{ 'is-invalid': submitted && f.rating.errors }" />
    <div *ngIf="submitted && f.rating.errors" class="invalid-feedback">
      <div *ngIf="f.rating.errors.required">rating is required</div>
    </div>
  </div>
  <div class="form-group">
    <button class="btn btn-light" type="submit">add Review</button>
  </div>
</form>
