* {
    box-sizing: border-box
}

body {
    font-family: "Lato", sans-serif;
}


/* Style the tab */

.tab {
    padding-top: 40px;
    float: left;
    background-color: #f1f1f1;
    width: 15%;
    height: 700px;
}


/* Style the buttons inside the tab */

.tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 15px;
}


/* Change background color of buttons on hover */

.tab button:hover {
    background-color: #ddd;
}


/* Create an active/current "tab button" class */

.tab button.active {
    background-color: #ccc;
}


/* Style the tab content */

.tabcontent {
    float: left;
    padding: 0px 12px;
    background-color: white;
    width: 85%;
    border-left: none;
    height: 300px;
}